<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
    <style>
        .img {
            width: 500px;
        }
    </style>
</head>

<body>
    <div class="mastercontainer">
        <div class="container">
            <h1>Cars</h1>
            <img src="/images/audi_gt.jpg" class="img" alt="audi_gt">
            <img src="/images/honda.jpg" class="img" alt="honda">
        </div>
    </div>

</body>

</html>