<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
    <style>
        .img {
            width: 500px;
        }
    </style>
</head>

<body>
    <div class="mastercontainer">
        <div class="container">
            <h1>Cats</h1>
            <img src="images/lion.jpg" class="img" alt="lion_pic">
            <img src="/images/leopard.jpeg" class="img" alt="leopard_pic">
            <img src="/images/tiger.jpg" class="img" alt="tiger_pic">
        </div>
    </div>

</body>

</html>